<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"content="chanyue-cms">
    <meta content="chanyue-cms" name="keywords" />
    <meta name="author" content="chanyue-cms"/>
    <link rel="shortcut icon" href="/public/template/default/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/public/template/default/css/saduo@1.0.9.css"/>
    <link rel="stylesheet" href="/public/template/default/css/main.css"/>
    <title>chanyue-cms | 禅悦内容管理系统</title>
</head>

<body class="pd-30">
    <!-- banner -->
    <section class="pt-30 error-500">
        <h1 class="chanyue-s mt-20 ">禅悦cms</h1>
        <p class="f-24 mt-20">Server Error Tips :</p>
        <div class="error-tips mt-20 pd-20 f-35 bg-f2f2f2">
            <p>status: 500 </p>
            <p>request:{{data.url}} </p>
            <p>method:{{data.method}} </p>
            <p>error:{{@ data.error}} </p>
        </div>
    </section>
    <footer class="pd-20">
        <p class="mt-30 text-c f-14">©copyright 前端小栈• 禅悦</p>
        <p class="f-13 text-c c-bfbfbf">自豪的采用 chanyue-cms</p>
    </footer>
</body>

</html>